apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: {{ .ServiceName }}
  name: {{ .ServiceName }}
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .ServiceName }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .ServiceName }}
    spec:
      containers:
        - name: {{ .ServiceName }}
          image: localhost:5000/{{ .ServiceName }}
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /live
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 10
---
kind: Service
apiVersion: v1
metadata:
  name: {{ .ServiceName }}
  namespace: default
  labels:
    app.kubernetes.io/name: {{ .ServiceName }}
spec:
  selector:
    app.kubernetes.io/name: {{ .ServiceName }}
  ports:
    - port: 8080
      targetPort: 8080
      name: client
      protocol: TCP
