package api

import (
	"net/http"

    "github.com/akselleirv/costs-service/api/models"
	"github.com/labstack/echo/v4"
)

type Server struct{}

func New{{ .ServiceName | ToCamel }}() *Server {
    return &Server{}
}

func (s *Server) WelcomeGet(c echo.Context) error {
	return c.JSON(http.StatusOK, models.Welcome{Message: "hello from {{ .ServiceName }}"})
}